{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 95vw;
  height: 80vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  font-size: 24px;
}

.logo img {
  height: 40px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-top: 60px;
  flex-wrap: wrap;
}

.hero-graphics {
  display: flex;
  gap: 40px;
}

.hero-graphics div {
  width: 160px;
  height: 160px;
  background-color: black;
  border-radius: 50%;
}

.hero-text {
  max-width: 800px;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 40px;
}

.arrow {
  font-size: 64px;
  align-self: flex-start;
  margin-top: -60px;
}

.divider {
  margin: 60px 0 30px;
  border-top: 2px solid #000;
}


.behance-logo {
  width: 32px;
  height: 32px;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  background: black;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Bitcount Prop Double';
  padding: 16px 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  letter-spacing: 0.05rem;
}

.marquee__inner {
  display: flex;
  animation: scroll-loop 20s linear infinite;
}

.marquee__inner span {
  padding-right: 1rem;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.middle-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: regular;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

